.createTask {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.createTask input[type="text"] {
  width: 100%;
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  line-height: 1.25;
  font-size: 1rem;
}

.createTask input[type="text"]::placeholder,
.createTask input[type="text"]::-webkit-input-placeholder {
  color: var(--gray-300);
}

.createTask button[type="submit"] {
  width: auto;
  padding: 1rem;
  background-color: var(--blue-dark);
  border: none;
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: bold;
  line-height: 1.25;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.createTask button[type="submit"]:disabled {
  background-color: var(--gray-200);
  color: var(--gray-300);
  cursor: not-allowed;
}

.createTask button[type="submit"]:not(:disabled):hover {
  background-color: var(--blue);
}
