.taskList {
  display: flex;
  flex-direction: column;
}

.taskListContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
}

.taskListContent strong {
  padding-top: 1rem;
}

.tasksCompletedContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
